TSDW/Servlets & Web Services - Netbeans Projects/Client/src/conf/xml-resources/web-service-references/TemperatureWS/wsdl/localhost_8081/TemperatureWS_Server/TemperatureWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="getAllTemperatures" type="tns:getAllTemperatures"/>

<xs:element name="getAllTemperaturesResponse" type="tns:getAllTemperaturesResponse"/>

<xs:element name="getTemperature" type="tns:getTemperature"/>

<xs:element name="getTemperatureResponse" type="tns:getTemperatureResponse"/>

<xs:complexType name="getAllTemperatures">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllTemperaturesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTemperature">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTemperatureResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>